
  
  
  .login-page {
    height: 100vh; 
    background-image: url('../../assets/LoginImpact.png'); 
    background-size: cover; 
    background-position: center; 
    display: flex; 
    align-items: center; 
    justify-content: center; 

  }
  
  .login-form-container {
    background-color: rgba(188, 158, 193, 0.6); 
    border-radius: 20px; 
    padding: 40px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    width: 100%;
    max-width: 500px; 
    margin-bottom: 140px;
  }
.login-form .form-control {
    border-radius: 15px; 
    margin-bottom: 15px; 
    font-size: 16px; 
    padding: 20px;
    width: 100%;
  }
  
  
  .login-form .btn-primary {
    border-radius: 20px; 
    padding: 10px 20px; 
    width: 100%; 
    font-size: 18px;
  }
  
  
  .error-message {
    color: #d9534f; 
    margin-bottom: 15px; 
    text-align: center; 
  }