.ts-container {
	/* margin: 10%; */
	/* display: flex; */
	/* justify-content: center; */
	background-color: rgba(151, 92, 233, 0.1);
	/* border-radius: 20px; */
	border: "solid black";
	height: 20%;
	width: 100%;
}

.trust-content {
	padding: 3%;
	margin: 5%;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}
