.related-events {
	height: 100%;
	width: 100%;
	border-left: solid rgba(128, 128, 128, 0.145) 1px;
}

.news-details-container {
	padding-right: 5%;
	padding-left: 5%;
}

.box {
	position: relative; 
	height: 30%;
	width: 80%;
	margin: 20px;
	background-color: rgba(131, 103, 131, 0.375);
	border-radius: 15px;
	overflow: hidden;
}

.icons {
	display: flex;
	justify-content: end;
}
.releated-event-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.6; 
  }
  .releated-image-text {
	position: absolute;
	bottom: 10px; 
	left: 10px;
	color: #4E2855; 
	padding: 5px; 
	z-index: 1;
  }
  .box:hover .related-image-text {
	color: #D5E673; /* Change text color when the parent box is hovered */
  }