.text-section h2 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-image {
	padding: 15px 25px 0px 0px;
	display: flex;
	justify-content: center;
}

/* Styling for video-player */
.video-player {
	position: relative;

	padding: 15.25% 15.25% 15.25% 15.25%;

	padding-bottom: 46.25%;
	height: 0;
	overflow: hidden;
}

/* Ensure ReactPlayer fills the video-player div correctly */
.video-player > div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (max-width: 768px) {
	.text-section,
	.video-player {
		padding: 1rem;
	}
}
/* ------------------------------------------------------------------------------------------------------------------- */
.proof-container {
	background-color: #70428f31;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
