/* ProofHero.css */

.card-container {
    position: relative;
    max-width: 640px; /* Medium size */
    margin: auto; /* Center the card on the page */
    border: 15px solid #d5e673; /* Purple border around the card */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
    cursor: pointer; /* Change cursor on hover over the card */
  }
  
  .card-image {
    display: block; /* Remove any default margin/padding */
    width: 100%; /* Make image expand to cover the card area */
    height: auto; /* Keep image aspect ratio */
  }
  
  .impact-button {
    background-color: #432855;
    color: white; /* White text */
    border: none;
    padding: 10px 20px;
    margin: 10px;
    position: absolute;
    bottom: 20px; /* Position at the bottom of the card */
    left: 50%; /* Center button horizontally */
    transform: translateX(-50%); /* Center button precisely */
    cursor: pointer; /* Indicate the element is clickable */
    border-radius: 5px; /* Rounded corners for the button */
  }
  
  .video-player {
    position: absolute;
    top: 45px;
    bottom: 50px; /* Space for the button */
    left: 0;
    right: 0;
    z-index: 10; /* Ensure video is above the image */
    cursor: auto; 
  }
  
  /* Add responsive adjustments as needed for smaller screens */
  @media (max-width: 768px) {
    .card-container {
      width: 90%; /* Take more screen space on small screens */
    }
  }
  