/* all cards */
.item {
	background-color: #630f7611;
	border-radius: 15px;
	margin: 5px;
	width: 81.97%;
}

.title {
	font-size: 2.5vw;
	margin: 5%;
}

/* all small cards */
.item-small {
	height: 100%;
	width: 100%;
	margin-bottom: 10px;
}

/* ------------------upper box styling----------------------- */

.top-image {
	border-radius: 7%;
	margin: 6%;
	width: 95%;
	height: 80%;
}
.top-box-grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: repeat(1, 1fr);
}

.top-right {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
}
.top-left .grid {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 10px;
}

.right-grid {
	margin: 10%;
}
/* ----------------------------------------------------------------- */

/* small box grid  */

.climate-image {
	max-width: 70%;
	max-height: 70%;
	margin: 8%;
}

.mid-left .top {
	background: rgba(107, 96, 109, 0.449);
	max-height: 69%;
	border-radius: 15px 15px 0px 0px;
	padding-bottom: 5%;
}

/* buttons css below */

a {
	text-decoration: none;
}

/* btns */
span {
	cursor: pointer;
	transition: color 0.3s;
}

.item:hover span {
	color: #72547dbb;
	background-color: #bc9ec1;
	transition: all 0.3s;
	border-radius: 20px;
	border: none;
	color: #fff;
	background-color: #72547dbb;
}

.donate-btn {
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
	justify-content: center;
	padding: 8px 16px;
}

/* .bottom-part-card {
	margin: 2%;
} */

.top-half {
	display: center;
	justify-content: center;
}
