.new_card {
	width: 18rem;
	margin: auto;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border: 4px solid #4e2855;
	transition:
		background-color 0.3s,
		box-shadow 0.3s,
		border-color 0.3s;
}

.card-clicked {
	background-color: #bc9ec1;
}

div.d-flex.justify-content-center.align-items-center.new_card {
	width: 18rem;
	margin: auto;

	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border: 4px solid #4e2855;

	transition:
		background-color 0.3s,
		box-shadow 0.3s;
}

div.d-flex.justify-content-center.align-items-center .new_card:hover {
	background-color: #bc9ec1 !important;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) !important;
}

.card-pill {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	color: black;
	padding: 0.25em 0.6em;
	font-size: 0.75em;
	border-radius: 1rem;
	background-color: #4e2855;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border: 1px solid #d5e673;
	font-weight: bold;
	transition: all 0.3s;
}

.new_card:hover {
	background-color: #e0d1f2;
	box-shadow: #4e2855; /* Hover background color */
}
