.donations-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 3rem; /* Padding around the container for some spacing */
}


.grey-card {
  background-color: #ccc;
  margin: auto;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
  display: flex;
  align-items: center; /* Keep items vertically centered */
  justify-content: flex-start; /* Align items to the left */
  width: 85%;
  padding: 1rem; /* Add padding inside the card */
  gap: 3rem; /* Adds space between child elements */
}