.act {
	color: #a164b293;
}
.impactify-txt {
	/* line-break: anywhere; */
	/* width: 100%; */
}
.impactify {
	height: 42px;
	/* width: 180px; */
	/* position: relative; */
	display: flex;
	align-items: center;
	filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.254));
	box-sizing: border-box;
	padding: 10px 0 0 0 0;
	/* padding-left: 20px; */
}
.hand-icon {
	/* flex-shrink: 1; */
	/* height: 100%; */
	/* width: auto; */
	/* position: absolute; */
	margin: 0 !important;
	top: 0;
	bottom: 0;
	left: 10;
	max-height: 100%;
	object-fit: contain;
	/* z-index: 1; */
}
.impactify-parent {
	/* width: 100%; */
	/* height: 113.1px; */
	/* display: flex; */
	/* flex-direction: row; */
	/* align-items: center; */
	/* justify-content: flex-start; */
	/* padding: 21px 0 20.1px; */
	box-sizing: border-box;
	position: relative;
	letter-spacing: normal;
	text-align: left;
	font-size: 24px;
	color: var(--color-darkslateblue);
	font-family: var(--font-anton);
}
