
.carousel-container {
    border: 2px solid #BC9EC1; 
    padding: 10px; 
    margin-bottom: 10px;
}

.custom-carousel-image {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #4E2855; /
  }
  
  .releated-custom-color {
    color: #BC9EC1; 
  }
  
  @media (max-width: 768px) {
    .custom-carousel-image {
      width: 65%; 
      height: 65%;
      border: 2px solid  #4E2855; /
    }
    .releated-custom-color {
      color: #D5E673; 
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
    }
  }


  .bar {
    height: 2px; 
    width: 100%;
    background-color: #D5E673;
    flex-grow: 1; 
  }