.custom-text {
    
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: whitesmoke;
}

.custom-text-dark {
    
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #4E2855;
}